[submodule "infra_tools"]
	path = infra_tools
	url = git@gitlab:software/infra-tools.git
[submodule "firmware-tools"]
	path = firmware-tools
	url = git@gitlab:software/firmware-tools.git
[submodule "src/MasterMinion/device_api"]
	path = src/MasterMinion/device_api
	url = git@gitlab:software/device-api.git
[submodule "tools/sw-sysemu"]
	path = tools/sw-sysemu
	url = git@gitlab:software/sw-sysemu.git
[submodule "src/ServiceProcessorROM"]
	path = src/ServiceProcessorROM
	url = git@gitlab:software/ServiceProcessorROM.git
