# Files
*.orig
*.elf
*.bin
*.lst
*.hex
*_BACKUP_*.*
*_BASE_*.*
*_LOCAL_*.*
*_REMOTE_*.*

# Directories
build/
.vscode/
cmake-build-*/
.idea

# conan
test_package/build

# conan ci
locks/
variables.env
conan-ci-pipelines-common/